<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>URL_Shortener</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu&display=swap');
  </style>
</head>

<body>

  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="https://kit.fontawesome.com/bfc7d274ad.js" crossorigin="anonymous"></script>

</body>

</html>