<div class="container mt-5">
  <!-- search bar -->
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/movies">
        <div class="input-group mb-3">
          <input type="text" name="search" class="form-control" placeholder="Enter your website to reurl"
            aria-label="Movie Name..." aria-describedby="search-button" value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>